.fullheight {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.unconfirmed {
    background-image: url('hero.png') ;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgb(204,204,204);
}

.central-block {
    margin: 10px auto 100px;
    position: relative;
    width: 400px;
}

.central-block>div {
    color: white;
    padding: 30px 30px 40px;
    position: relative;
    text-align: center;
}

.std-button {
    background-color: rgb(187,77,57);
    border-width: 0px;
    border-radius: 2px;
    color: white;
    margin: 0 10px;
    padding: 4px 10px;
    cursor: pointer;
}

.std-button:hover {
    background-color: rgb(120,60,50);
}

.zocial {
    margin: 10px 0;
    width: 250px;
}

.central-block .hider {
    background-color: black;
    display: block;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}


.unconfirmed h1 {
    color: white;
    font-size: 40pt;
    height: 50px;
    margin: 0;
    padding: 60px 60px 40px;
    text-align: center;
    text-shadow: 2px 2px rgb(97,97,97);
}

.benefits {
    background-color: rgb(204,204,204);
    color: rgb(106,106,106);
    padding: 20px;
    position: absolute;
    top: 65%;
}

.errorable {
    height: 60px;
}

.errorable img {
    width: 200px;
}

.errorable .error {
    color: red;
    margin-top: 8px;
}

.alternative {
    color: rgb(180, 150, 50);
    cursor: pointer;
    display: block;
    font-size: 80%;
    text-align: right;
    width: 100%;
}


.confirmed {
    font-family: sans-serif;
}

.confirmed .top-strip {
    position: relative;
    height: 45px;
}

.confirmed .mid-strip {
    height: 120px;
    background-color: gray;
    position: relative
}

.confirmed .right-strip {
    right: 0px;
    position: absolute;
}

.confirmed .left-strip {
    position: absolute;
    left: 0px;
}

.company-logo {
    float: left;
    font-size: 24px;
    padding: 10px 20px;
}

.right-strip div {
    float: right;
}

.round-button {
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 28px;
    height: 100px;
    margin-right: 50px;
    margin-top: 10px;
    width: 100px;
}

.hoverable {
    color: #d0d0d0;
    border-color: #d0d0d0;
}

.hoverable:hover {
    color: #F0F0F0;
    border-color: #F0F0F0;
    cursor: pointer;
}

.round-button span {
    text-align: center;
    display: block;
    padding: 18px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.logout-button {
    background-color: gray;
    border-radius: 5px;
    border-width: 0px;
    padding: 5px 20px;
    display: block;
    margin: 10px 20px;
}


.hero-hello {
    color: #d0d0d0;
    float: left;
    font-size: 40px;
    padding: 40px;
}

.bottom-strip {
    padding: 20px 20%;
}

.print-placard {
    font-size: 40px;
    margin: 0 auto;
    padding: 25px 60px;
}