<div signin-required>
  <style>
   th.setting {
     text-align: right;
     width: 30%;
   }
  </style>
  <h1>Settings</h1>
  <h2>Hi, {{user.nickname.value}}</h2>
  <div growl></div>
  <table class="table table-bordered">
    <tr>
      <th class="setting">Your Nickname:</th>
      <td>
        <a href="#" editable-text="changes.nickname">{{ changes.nickname || "empty" }}</a>
      </td>
    </tr>

    <tr>
      <th class="setting">Your Number:</th>
      <td> 
        <p ng-if="user.number.value">
          {{user.number.value || asPhoneNumber }}
          <button class="btn btn-primary btn-sm" ng-click="enterNumber()">Change number</button>
          <button class="btn btn-warning btn-sm" ng-click="cancelNumber()">Cancel number</button>
        </p>
        <p ng-if="!user.number.value">
          <i>not set</i>
          <button class="btn btn-primary btn-sm" ng-click="enterNumber()">Set number</button>
        </p>
      </td>
    </tr>

    <tr ng-if="user.numberSent">
      <th class="setting">Enter The Code:</th>
      <td> 
        <form name="codeForm" ng-submit="codeEntered(codeForm)">
          <input type="text" ng-model="code" name="code"
             ng-blur="codeEntered(codeForm)" 
             tooltip="Enter the code we texted you to confirm your mobile number."
             tooltip-trigger="focus" tooltip-placement="right" class="form-control" />
        </form>
      </td>
    </tr>
  </table>
</div>
